section.about .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin-inline: auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

section.about .about-content .navigate {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

section.about .about-content .navigate a {
    text-decoration: none;
    padding: .5rem .8rem;
    border: 1px solid var(--primary-clr);
}

section.about .about-content .sm-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .5rem;
    gap: 1rem;
}

section.about .about-content .sm-icons a {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}