footer .container {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--secondary-clr);
    gap: 1rem;
}


@media (max-width: 767px) {
    footer .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}