section.services {
    color: white;
    background: var(--primary-clr);
}

section.services .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: .3rem;
}

section.services .services-list .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--secondary-clr);
    /* border-radius: 15px; */
    padding: 1rem;
    text-align: center;
}

section.services .services-list .service img {
    height: 100px;
}